@import '../../_variables.scss';

.todo-item {
    background-color: $light-blue;
    padding: 0.5rem 0.5rem 0 0.5rem;
    cursor: pointer;

    .item-title {
        margin-top: 4px;
        width: 100%;
        font-size: $text-sm;
        padding-right: 0.4em;
    }
    .item-priority {
        .priority-flag {
            color: #9e1212;
        }

        .priority-flag-inactive {
            color: #c4c4c4;
        }
    }
}

// Responsive
@media (min-width: 1024px) {
    .todo-item {
        .item-title {
            font-size: $text-md;
        }
    }
  }