@import './_variables.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: $dark-blue;
    color: #fff;
    position: relative;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 4em;
}

.d-flex {
    display: flex;
}

// Changing color of the Material Form Field texts

body {
    .todo-list {
        .mat-mdc-input-element {
            color: #fff !important;

            &::placeholder {
                color: #dfdfdf !important;
            }
        }

        .mdc-card__actions {
            padding-bottom: 0;
        }

        .mat-mdc-form-field {
            width: 100%;

            input {
                font-size: $text-sm;
            }
        }

        .mat-mdc-checkbox {

            .mdc-checkbox,
            .mdc-checkbox__background {
                width: 25px;
                height: 25px;
            }
        }
        .item-checkbox {
            .mdc-form-field {
                display: block!important;
            }
        }
    }
}


// Responsive
@media (min-width: 1024px) {
    body {
        .todo-list {
            .mat-mdc-form-field {
                input {
                    font-size: $text-md;
                }
            }
        }
    }
}